body {
    min-height: 100vh;
    position: relative;
    padding-bottom: 10%;
}

/* Contenedor principal de la página, se asegura de que el contenido ocupe todo el espacio disponible */
.container-fluid {
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Permite que ocupe el espacio disponible */
    padding-bottom: 60px; /* Reservamos espacio para el footer */
    min-height: 100%; /* Asegura que la página ocupe al menos el 100% de la altura */
}

#buscadorCasosActivos input[type="submit"] {
    background-color: #0b611f;
    color: #fff;
    border: none;
    padding: 3% 5%; /* Espaciado interno en porcentaje */
    border-radius: 1px;
    cursor: pointer;
    margin-top: 59px;
}

/* Estilo para los campos del formulario */
#buscador{
    margin-top: 1%;
    margin-left: 0.5%;
}

label {
    margin-bottom: 1%;
    font-weight: bold;
    text-transform: uppercase;
}

input[type="text"]{
    width: 20%; /* Ancho del campo en porcentaje */
    margin-left: 0.5%;
    margin-bottom: 0.5%; /* Espaciado inferior en porcentaje */
    border: 1px solid #077109;
}

/* Estilo para el botón de registro */
input[type="submit"] {
    background-color: #0b611f;
    color: #fff;
    border: none;
    padding: 0.5% 2%; /* Espaciado interno en porcentaje */
    border-radius: 1px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #03802f;
}

/*Estilo de la talba*/
.table {
    width: 98%;
    text-align: center;
    max-height: 60vh; /* Limita la altura máxima de la tabla */
    margin-left: 1%;
}

/*Estilo errores*/
.errores,p {
    text-align: center;
    margin-bottom: 10%; /* Espacio adicional hacia abajo */
    margin-top: 0%;
    margin-right: 2%;
    list-style: none; /* Quita los puntos de la lista */
    color: red; /* Cambia el color del texto a rojo */
}

/*Oculatar columna seguimiento*/
th:nth-child(13), td:nth-child(13) {
    display: none; /* Oculta la columna */
}


