body {
    min-height: 100vh;
    position: relative;
    padding-bottom: 10%;
}
/* Contenedor principal de la página, se asegura de que el contenido ocupe todo el espacio disponible */
.container-fluid {
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Permite que ocupe el espacio disponible */
    padding-bottom: 60px; /* Reservamos espacio para el footer */
    min-height: 100%; /* Asegura que la página ocupe al menos el 100% de la altura */
}

/* Estilo para los campos del formulario */
.col-lg-12 {
    background-color: #f2fcf1; /* Color de fondo del contenedor */
    padding: 20px; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
    margin: 3% auto; /* Margen para centrar */
    max-width: 50%; /* Ancho máximo del contenedor */
    text-align: center; /* Centra el texto dentro del contenedor */
    text-transform: uppercase; /* Todo en mayúsculas */
}

label {
    display: block;
    margin-bottom: 1%; /* Espaciado inferior */
    font-weight: bold; /* Negrita */
}

/* Estilo para los campos de texto */
input[type="text"],
input[type="date"] {
    text-align: center; /* Texto centrado */
    width: 50%; /* Ancho del campo en porcentaje */
    padding: 0.5%; /* Espaciado interno */
    margin: 0 auto; /* Margen para centrar */
    margin-bottom: 1%; /* Espaciado inferior */
    border: 1px solid #077109; /* Color de borde */
    border-radius: 5px; /* Bordes redondeados */
}

textarea.form-control {
    width: 80%; /* Ancho del campo en porcentaje */
    padding: 0.5%; /* Espaciado interno */
    margin: 0 auto; /* Margen para centrar */
    margin-bottom: 1%; /* Espaciado inferior */
    border: 1px solid #077109; /* Color de borde */
    border-radius: 5px; /* Bordes redondeados */
    text-align: center; /* Texto centrado */
}

/* Estilo para el botón de registro */
button[type="submit"] {
    background-color: #0b611f; /* Color de fondo del botón */
    color: #fff; /* Color del texto */
    border: none; /* Sin borde */
    padding: 0.5% 2%; /* Espaciado interno */

}

/* Estilo de los errores*/
li {
    text-align: center;
    margin-right: 2%;
    list-style: none; /* Quita los puntos de la lista */
    color: red; /* Cambia el color del texto a rojo */
}