/* Banda superior y estilo del encabezado */
#banda-superior {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #aafac2;
    height: 50%;
}

#banda-superior img {
    width: 35%;
    height: auto;
    margin-top: 1%;
    margin-left: 10%;
}

#banda-superior #insertar {
    font-family: 'Montserrat', sans-serif;
    font-size: 200%;
    font-weight: bold;
    text-align: center;
}

/* Botón de volver */
#volver {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

#volver a {
    text-decoration: none;
}

#volver i {
    font-size: 170%;
    color: black;
}
